:root {
    --main-txt-color: rgb(116, 255, 116);
}

html {
    margin: 30px;
}

body,
* {
    font-family: Roboto Mono, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: white;
    background-color: rgb(34, 33, 41);
}

h1,
h2,
.ablack {
    color: var(--main-txt-color);
}

a {
    color: rgb(93, 244, 255);
}

img[src$='#img-small'] {
    width: 150px;
    border-style: solid;
    border-color: var(--main-txt-color);
}

img {
    border-style: solid;
    border-color: var(--main-txt-color);
}

.center {
    align-tracks: center;
}

#footer, #all_posts {
    padding-top: 10px;
    border-top: solid 1px #ffffff;
    text-align: center;
}