:root {
    --main-txt-color: rgb(19, 30, 73);
}

html {
    margin: 30px;
}

body,
* {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color:  #c9c2b3;
}

h1,
h2,
.ablack {
    color: var(--main-txt-color);
}

a {
    color: rgb(230, 105, 55);
}

img[src$='#img-small'] {
    width: 150px;
    border-style: solid;
    border-color: var(--main-txt-color);
}

img {
    width: 250px;
    border-style: solid;
    border-color: var(--main-txt-color);
}

.center {
    align-tracks: center;
}

#footer, #all_posts {
    padding-top: 10px;
    border-top: solid 1px #ffffff;
    text-align: center;
}