@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/TlwgTypewriter/TlwgTypewriter.css';

:root {
    --main-txt-color: rgb(81, 180, 81);
}

body,
* {
    font-family: Courier, monospace, 'Tlwg Typewriter';
    color: white;
    background-color: rgb(34, 33, 41);
    margin: 30px;
}

h1,
h2,
.ablack {
    color: var(--main-txt-color);
}

a {
    color: rgb(93, 244, 255);
}

img[src$='#img-small'] {
    width: 150px;
    border-style: solid;
    border-color: var(--main-txt-color);
}

img {
    width: 500px;
    border-style: solid;
    border-color: var(--main-txt-color);
}

.center {
    align-tracks: center;
}

#footer, #all_posts {
    padding-top: 10px;
    border-top: solid 1px #ffffff;
    text-align: center;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: brown;
}

.libroj {
    height: 200px;
    width: auto;
}